.jumbotron {
	background-color: #a2d9ff;
	padding-top: 100px;
}

.about-section {
	padding-top: 200px;
}
.project-section {
	padding-top: 100px;
}
.tools-skills-section {
	padding-top: 100px;
}
.contact-section {
	padding-top: 250px;
}
