p{
    width: 500px;
    height: 200px;
    background-color: lightblue;
    /* membuat sudut lengkungan */
    /* di semua sisi */
    border-radius: 20px;
}

div p {
    width: 150px;
    height: 100px;
    background-color: lightcoral;
    /* atas kiri, atas kanan, atas bawah, bawah kiri */
    border-radius: 5px 15px 30px 40px;
}